# Intro to Pandas

Pandas is a Python library that is similar to the `datascience` module you have been using in DSC10.  Frankly, I find the official dicumentation ([here](https://pandas.pydata.org/)) kind of confusing, and mostly use Stack Overflow to figure out how to do things.  Here we will go over some of the basic ways to manipulate tabluar data with Pandas.

[This video](https://vimeo.com/59324550) is a good introduction also, and is paired with a Jupyter notebook ([here](http://nbviewer.jupyter.org/urls/gist.github.com/wesm/4757075/raw/a72d3450ad4924d0e74fb57c9f62d1d895ea4574/PandasTour.ipynb)) that covers things slightly differently.

This notebook is adapted from Dennis Tenin's [Lede Program](https://github.com/ledeprogram/courses/blob/master/README.md)

(FYI - more good basketball data is at [538](http://eightthirtyfour.com/data))

In [1]:
import pandas as pd

In [2]:
nba_df = pd.read_csv("NBA 2013.csv")

In [12]:
# Look at the first 10 rows
nba_df.head(10)

,Unnamed: 0,Name,Age,Team,POS,#,2013 $,Ht (In.),WT,EXP,1st Year,DOB,School,City,"State (Province, Territory, Etc..)",Country,Race,HS Only,BMI,BMI Category
0,0,"Gee, Alonzo",26,Cavaliers,F,33,"$3,250,000",78,219,4,2009,5/29/1987,Alabama,"Riviera Beach, FL",Florida,US,Black,No,25.917160,overweight
1,1,"Wallace, Gerald",31,Celtics,F,45,"$10,105,855",79,220,12,2001,7/23/1982,Alabama,"Sylacauga, AL",Alabama,US,Black,No,25.380548,overweight
2,2,"Williams, Mo",30,Trail Blazers,G,25,"$2,652,000",73,195,10,2003,12/19/1982,Alabama,"Jackson, MS",Mississippi,US,Black,No,26.346406,overweight
3,3,"Gladness, Mickell",27,Magic,C,40,"$762,195",83,220,2,2011,7/26/1986,Alabama A&M,"Birmingham, AL",Alabama,US,Black,No,22.993178,normal
4,4,"Jefferson, Richard",33,Jazz,F,44,"$11,046,000",79,230,12,2001,6/21/1980,Arizona,"Los Angeles, CA",California,US,Black,No,26.534209,overweight
5,5,"Hill, Solomon",22,Pacers,F,9,"$1,246,680",79,220,0,2013,3/18/1991,Arizona,"Los Angeles, CA",California,US,Black,No,25.380548,overweight
6,6,"Budinger, Chase",25,Timberwolves,F,10,"$5,000,000",79,218,4,2009,5/22/1988,Arizona,"Encinitas, CA",California,US,White,No,25.149816,overweight
7,7,"Williams, Derrick",22,Timberwolves,F,7,"$5,016,960",80,241,2,2011,5/25/1991,Arizona,"La Mirada, CA",California,US,Black,No,27.112500,overweight
8,8,"Hill, Jordan",26,Lakers,F/C,27,"$3,563,600",82,235,1,2012,7/27/1987,Arizona,"Newberry, SC",South Carolina,US,Black,No,25.163593,overweight
9,9,"Frye, Channing",30,Suns,F/C,8,"$6,500,000",83,245,8,2005,5/17/1983,Arizona,"White Plains, NY",New York,US,Black,No,25.606039,overweight

In [ ]:
# Find out how many players are in each position
nba_df["POS"].value_counts()

In [ ]:
nba_df["POS"] == "F"

In [ ]:
# Get all of the people who match a certain characteristic
nba_df[nba_df["POS"] == "F"].head(10)

In [ ]:
# Get all of the people who match a certain characteristic
nba_df[(nba_df["POS"] == "F") & (nba_df["HS Only"] == "Yes") ].head(10)

In [ ]:
# Get all of the people who match one of any X characteristics
nba_df[(nba_df["POS"] == "F") | (nba_df["POS"] == "G") ].head()

In [ ]:
# Retrieve what's nan/null/etc
nba_df[pd.isnull(nba_df["Race"])].head()

In [ ]:
# Retrieve what's NOT nan/null/etc
nba_df[~pd.isnull(nba_df["Race"])].head()

In [ ]:
# or this
nba_df[pd.notnull(nba_df["Race"])].head()

In [ ]:
# Get the mean age!
nba_df["Age"].mean()

In [ ]:
# Get numerical data on a column
# If you're dealing with labels or groups, use .value_counts()
nba_df["Age"].describe()

In [ ]:
#access only the min?
nba_df["Age"].describe()['min']

In [ ]:
# Get numerical data on grouped data
nba_df.groupby("POS")["Age"].describe()

In [ ]:
# Remove columns that you HATE with .drop
# Need to save it as a new (or the same) variable
nba_df = nba_df.drop(["City"], axis=1)
nba_df.columns

In [ ]:
# Calculate a new column from an existing column
nba_df["Ht (Cm.)"] = nba_df["Ht (In.)"] * 2.54
nba_df[:2]

In [ ]:
# String manipulation on an entire column
# Need to use .str to treat it as a string
nba_df["Name"].str.lower()

In [ ]:
# has the dataframe changed based on the previous: nba_df["Name"].str.lower() ?
nba_df["Name"]

In [ ]:
# Do more intense manipulation with .apply + an external function
# You will always forget to do axis=1, so remember it!
# Just treat row like a dictionary, it goes one at a time
def do_i_like_them(row):
    if row["Age"] >= 31:
        return False
    else:
        return True

nba_df["Liked"] = nba_df.apply(do_i_like_them, axis=1)
nba_df["Liked"].value_counts()

In [ ]:
# Get one column of a dataframe
nba_df.iloc[0]

In [ ]:
# For loops with dataframes
# Can't do for row in nba_df, gotta use iterrows()
for index, row in nba_df.iterrows():
    print(str(index) + ": " + row["Name"])

In [ ]:
# Grouping by as many as you want
# Be sure to put the groupby stuff in square brackets
nba_df.groupby(["POS", "Race"])["Age"].mean()

In [ ]:
# Histograms
# Shows you the spread of one numerical value
nba_df["Age"].hist()

In [ ]:
# Scatterplots show you the relationship of two numerical values
nba_df.plot("Ht (In.)","WT", kind='scatter')

In [11]:
# EXERCISE:
# 0. what is the average weight? is it higher than the average American?
# 1. create a new value (new column): 
#        the Boby Mass Index, or BMI (follow: http://extoxnet.orst.edu/faqs/dietcancer/web2/twohowto.html)
# The BMI for a typical adult American male is 28.6, according to the CDC, 
# which rates a BMI of 18.5 to 24.9 as “normal” and a BMI of 25 to 29.9 as “overweight.”
# 2. What is the average BMI for professional NBA players? how does it compare to average American male BMI?
# 3. What is the ratio of "normal", "overweight", "obese" ?
#
# 4. Any outliers?
def get_cat(bmi):
    if bmi < 18.5:
        return 'underweight'
    elif 18.5 <= bmi <= 24.9:
        return 'normal'
    elif 25 <= bmi <= 29.9:
        return 'overweight'
    elif bmi >= 30:
        return 'overweight'

avg_weight = nba_df['WT'].mean()
nba_df['BMI'] = (nba_df['WT'] * .45).divide((nba_df['Ht (In.)'] * .025)*(nba_df['Ht (In.)'] * .025))
avg_bmi = nba_df['BMI'].mean()
nba_df['BMI Category'] = nba_df['BMI'].apply(get_cat)
nba_df['BMI Category'].value_counts().apply(lambda x: x / nba_df.shape[0])

0.9545454545454545

In [42]:
# STRECH EXERCISE:
# 0. divide all players in groups (based on their role, or height, or another characteristic)
# 1. calculate their mean salary, does it depend on that characteristic?
# 2. can you represent what you found with a nice plot?

nba_df['2013 $'] = nba_df['2013 $'].apply(lambda x: x.replace(',', "") if type(x) == str else x)